# Configuración generada automáticamente que provee la imagen "boot.vfat"
include ("boot.cfg")

# Esta imagen describe el contenido del primer GiB de la eMMC,
# que ha sido reservado para el sistema operativo. El resto puede
# particionarse y usarse como se desee para los contenedores
image emmc.img {
	hdimage {}

	partition spl {
		in-partition-table = "no"
		image = "sunxi-spl.bin"

		# offset determinado por la BROM del SoC, donde busca el valor
		# mágico "eGON". Ver el artículo del wiki sunxi acerca de cómo
		# crear una SD arrancable
		offset = 8192
	}

	partition u-boot {
		in-partition-table = "no"
		image = "u-boot.itb"
		offset = 40K
		size = 984K
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs-ro {
		# "lower" del overlay. Parte solo variable por actualizaciones
		# del sistema, montada como solo lectura, desde la que se arranca
		partition-type = 0x83
		image = "rootfs.squashfs"
	}

	partition rootfs-rw {
		# "upper" del overlay. Parte variable del sistema de ficheros
		# raíz, donde se guardan ficheros de configuración e información
		# administrativamente variable durante la vida de Pinetainer.
		# Se dejan 256 MiB desde el principio (la primera partición
		# empieza en 1 MiB) para futura expansión de "lower", u
		# otros usos (si se estima poco posible que "lower" se
		# expanda, y hace falta más almacenamiento)
		offset = 257M
		partition-type = 0x83
		size = 768M
	}
}
